<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.loginservice.Mybatis.Mapper.UserMapper">
    <insert id="addUser" parameterType="userInfo">
        insert into User(mobile,name,password,salt)
        values(#{mobile},#{name},#{password},#{salt})
    </insert>

    <select id="getUserByMobile" parameterType="Long" resultType="userInfo">
         select id, name, mobile, password, salt
         from User
         where mobile = #{mobile}
    </select>
</mapper>